#Ignore java class files
*.class
/W1D2/BattleShip/nbproject/private/
/W1D2/BattleShip/build/
/W1D2/BattleShip/dist/
/GameOfLife/nbproject/private/
/GameOfLife/build/
/GameOfLifeServer/nbproject/private/
/RecursiveConstructor/nbproject/private/
/ChatClient/nbproject/private/
/ChatServer/nbproject/private/
/ChatServer/build/